@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;500&display=swap');

:root{
    --primary-color :#1FF707;
    --secondary-color:rgba(8, 29, 1, 0.694);
}

body{
background: black;
margin: 0;
font-family:'Poppins','sans-serif';


}


.navbar{
  background: rgba(8, 29, 1, 0.694);
  padding: .3em;
  .logo{
      text-decoration: none;
      font-weight: 700;
      color: rgb(255, 255, 255);
      font-size: 1.5em;
    span{
        color: var(--primary-color);

     }
  
    }

    nav{
       display: none;
       font-family: 'Titillium Web', 'sans-serif';
       
    }
    
    .container{
        width: 100%;
        display: flex;
        place-content: space-between;
    }
}

.mobile-menu{
cursor: pointer; 
}

a{
    color: #444444;
}

ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

section{
    padding: 5em 2em 0em 2em;

}

.hero{
    text-align: center;
}

.left-col{
   
    .subhead{
        text-transform:uppercase;
        font-weight: bold;
        color: grey;
        letter-spacing: .3em;
        font-size: 0.90em;
        font-family: 'Titillium Web', 'sans-serif';
    }
    h1{
        font-size: 2.5em;
        color: white;
        animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: backwards;
    }
    .primary-cta{
        background: #ffffff;
        color: var(--primary-color);
        text-decoration: none;
        padding: .6em 1.3em ;
        font-size: 1.4em;
        border-radius: 5em;
        font-weight: bold;
        display: inline-block;
        z-index: +5;
         
    }
    .watch-video-cta{
        display: block;
        margin-top: 1em;

        img{
            margin-right: -.5em;
        }
    } 
    
}

.hero-img{
    width: 100%;
    height: auto;
    margin-top: 3em;
    animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: backwards;
   
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}


section.features-section{ .primary-cta{
    background: #1de93c53;
    color: var(--primary-color);
    text-decoration: none;
    padding: .6em 1.3em ;
    font-size: 1.4em;
    border-radius: 5em;
    font-weight: bold;
    display: inline-block;
    z-index: +5;
    margin: 0em 0em 3.5em 1em;

    &:hover{
        background: #0af52dd7;
        color: rgb(0, 0, 0);
      font-weight:bold;

  }
     
}
    // background: #000000;
    color: rgba(255, 255, 255, 0.796);
    h1{
        margin-left:0em;
        margin-bottom: 1.4em;
        margin-top: 0em;
    color: rgba(189, 253, 180, 0.633);
    font-size: 1.7em;
    font-family: 'Titillium Web', 'sans-serif';
        

    }
    h2{
        color:rgba(255, 255, 255, 0.796);
        margin-bottom: 5em;
        font-size: 1.3em;
        font-family: 'Titillium Web', 'sans-serif';
    }
    .vid{
        iframe{
            margin-bottom: 6em;
        
        }
    }

}

ul.features-list{
    margin-bottom: 6em;
    padding-left: .1em;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(19rem,1fr));


li{
    font-size: 1.5em;
    margin-top: 1em;
    margin-left:2em;
    padding-bottom: 2em;
    position: relative;
    z-index: -5;

    &:before{
        content:'';
        left: -2em;
        position: absolute;
        width: 36px;
        height: 36px;
        background-image: url("../images/bullet.svg");
        background-size: contain;
        margin-right: .5em;
        z-index: -5;

    }
}
}
.features-section img{
    display: none;
    
}

.testimonials-section{
    background: #024a0d23;
    color: white;
    padding-bottom: .5em;
    padding-top: .5em;
    font-family: 'Titillium Web', 'sans-serif';
   h1{
       color: rgba(189, 253, 180, 0.633) ;
       margin-bottom: 2em;
   }
    
        li{
            background:#9eb8a2a1;
            text-align: center;
            padding: 0.1em 0.5em;
            width: 75%;  
        margin: 0 auto 3.5em auto;     
        border-radius: .68em;
         
            img{
                width: 5em;
                height: 5em;
                border: 5px solid #ffffff;
                border-radius: 50%;
                margin-top: 1em;
            }
        }
}

h2{
    font-size: 2em;
    color: white;
}
label{
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
}

input,textarea{
    background-color: grey;
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
}

input[type="submit"]{
    background-color: #1de93c53 ;
    color:var(--primary-color);
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;

}

iframe{
    width:100%;
    height: 300px;
}

nav.menu-btn{
    display: block;
 }

    nav{
        position: fixed;
        z-index: 999;
        width: 66%;
        right: 0;
        top: 0;
        background: #000000;
        height: 100vh;
        padding: 1em;

        ul.primary-nav{
            margin-top: 5em;
        }
        li{
            a{
                color:white;
                text-decoration: none;
                display: block;
                padding: .5em;
                font-size: 1.3em;
                text-align: right;

                &:hover{
                      color: #0af52da1;
                    font-weight:bold;

                }

            }
        }
    }


.mobile-menu-exit{
    float: right;
    margin: .5em;
    cursor: pointer;
}

@media only screen and (min-width: 768px){

    .mobile-menu, .mobile-menu-exit{
        display: none;
    }

.navbar .container{
display: grid;
grid-template-columns: 180px auto;
}

    .navbar nav{
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding:0;



    ul{
        display: flex;
    }

    a{
        color: rgb(255, 255, 255);
        font-size: 1em;
        padding: .1em 1em;
    }

    ul.primary-nav{
        margin: 0;
    }

    li.current a{
        font-weight: bold;
    }
    li.go-premium-cta a{
        color: var(--primary-color);
        border: 3px solid var(--primary-color);
        font-weight: bold;
        border-radius: 5em;
        margin-top: -.2em;

        &:hover{
            background: #0ed12b78;
            color: var(--primary-color);
        }
    }

  }
}

@media only screen and (min-width: 1080px){

    .navbar{
     padding: .8em

    }
    .container{
    width: 100%;
    margin: 0 auto;

    }
   
    section{
        padding: 0em 4em;
    }
    .hero .container{
        display: flex;
        justify-content: space-between;
        text-align: left;

        .left-col{
            margin: 6em 3em 0 5em;

            .subhead{font-size: 1.5em;
                animation: fadeInAnimation ease 1s;
                animation-iteration-count: 1;
                animation-fill-mode: backwards;}
        
        h1{
            font-size: 3em;
            width: 80%;
            color: rgb(255, 255, 255);
        }
      }
    }

.hero-img{
    width: 45.5%;
    height: auto;
    margin-right:0em ;
}
// .hero-cta{
//     display: flex;
// }
// .primary-cta{
//     margin-right: 1em;
// }
ul.features-list{
    display: block;
    margin-left: 11em;
    margin-top: 8em;
    margin-bottom: 10em;


    li{
        font-size: 2em;
        padding-bottom: 2.5em;

        &:before{
            width: 45px;
            height: 45px;
        }
    }
}

.features-section{
    position: relative;
    margin-top: 0em;  
}
section.features-section{
    .primary-cta{
        background: #1de93c53;
        color: var(--primary-color);
        text-decoration: none;
        padding: 0.8em 1.3em ;
        font-size: 1.4em;
        border-radius: 5em;
        font-weight: bold;
        display: inline-block;
        z-index: +5;
        margin: 0em 0em 8em 4.7em;
        &:hover{
            background: #0af52dd7;
            color: rgb(0, 0, 0);
          font-weight:bold;
    
      }
         
    }
    
    h1
    {margin-left: 2.3em;
    font-size: 2.5em;}

    h2{
        margin-left: 3em;
        margin-bottom: 2em;
        font-size: 2em;
        width: 60%;
    }
    .d-img{
        width: 33%;
        height: auto;
        margin-right:2em ;
        margin-bottom: 90em;
    }
    .vid{
       iframe{
           width: 1280px;
           padding-bottom: 8em;
           height: 720px;
           margin-left: 8em;
       }
    }
    
}
.features-section img{
    display: block;
    position: absolute;
    right: 0;
    width: 350px;
    bottom: -2em;

    
}  
    .testimonials-section ul{
        display: flex;
    li{
        margin: 7em 2em 0em 2em;
    }
   
 }

 .testimonials-section {
     margin-bottom: 0;
     padding-bottom: 4em;
     padding-top: .5em;
    h1{
        color:rgba(189, 253, 180, 0.633) ;
        margin-bottom: -2em;
        margin-left: 3.5em;
    }
    h4{
        font-size: 1.5em;
    }
   li{ img{
        margin-top: -4.5em;
    }}
 }

 

  
.contact-right{
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;

    iframe{
        height: 100%;
    }
  }
}

// @media only screen and (min-width: 1450px){
//     .features-section{

//         &:before{
//             content: '';
//             position: absolute;
//             width: 10%;
//             height: 20em;
//             background: var(--primary-color);
            
//             left: 0em;
//             top: -4em;
//         }
//          &:after{
//             content: '';
//             position: absolute;
//             width: 10%;
//             height: 20em;
//             background: url('../images/dots.svg') no-repeat;
            
//             left: 4.5em;
//             top: 2em;  
//         }
//     }
    
// }

@media only screen and (max-width: 768px){
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0em;
    padding-top: .2em;
    padding-bottom: .3em ;
    bottom: 0em;
    z-index: 6;
    width: auto;
    // background: rgba(8, 29, 1, 0.945);
    background: rgba(0, 0, 0, 0.905);  
    
  }

  .mobile-menu{
      margin-right: 1em;
  }
  
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 0px;
  }

}


